<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_2.css' %}">
</head>
<body style="background-color: black;">
    <a href="/" style="color: #cd5601; font-size: 20px;">Back Home</a>
    <div class="about">
        <h1>About Elite Performance Tennis Academy USA</h1>
        <br>
        <br>
        <h1>Who we are</h1>
        <p>Elite Performance Tennis Academy USA is a high performance tennis academy that focus in player development like technical, tactical, physical and mental development.</p>
        <br>
        <h1>What makes us different?</h1>
        <p>We believe in planning and organization to get the best out of the players, we have a periodization system that allows us to plan each training depending on what stage of the periodization we are, that way we can focus in a particular area of p[ayer development.</p>
        <br>
        <h1>Our Goals</h1>
        <p>Our goals are to assist our players and their families to achieve their improvement goals and set up a path (short, middle and long term goals) to get closer to their dreams.</p>
        <br>
        <h1>Our Vision</h1>
        <p>We believe in hard work and discipline, we believe that technique is the structure of a good tennis player complemented by speed, strength, mental toughness, smart decision making, etc.</p>
    </div>
</body>
</html>