<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coach</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_2.css' %}">
</head>
<body style="background-color: black;">
    <div class="coach">
        <a href="/" style="color: #cd5601;">Back Home</a>
        <h1 style="color: #cd5601; margin-left: 550px; text-decoration: underline;">Coach Jesus Garcia</h1>
        <img src="{% static 'coach.jpg' %}"/>
        <p>Coach Jesus Garcia is the Tennis Director of Elite Performance Tennis Academy USA.He is originally from Guadalajara, Mexico where he started playing tennis at age 14.He played junior tournaments but was until age 16 where improvement started to show by reaching to finals and some championships. At age 17 he achieve top 10 in juniors 18. At age 18 got a scholarship to play for Iteso University in Guadalajara, Mexico where he played for 2 years with a degree in Psychology. At age 20 he got recruited to play for University of Miami where he was allowed to resume his previous degree and played for the 2 years left of college.
        <br>
        <br>
        He became at coach at age 16 where he got an opportunity from Jorge Vergara Tennis Academy located also in Guadalajara, Mexico, from there he continue the journey as a coach an few country clubs a tennis academy including Aj Tennis Academy in Houston, Texas. He became traveling coach for Julia Elbaba from New York while she was in the top 100 in the ITF circuit. He arrived to Los Angeles, California in 2015 where he has coached at the Griffin Club LA, Braemar Country Club and currently leading the Elite Performance Tennis Academy USA High Performance program for over a year.
        </p>
    </div>
    <div class="certifications">
        <h1 style="text-decoration: underline; text-align: center;">Certifications</h1>
        <ul>
            <li>Financial Advisor Certification</li>
            <li>Fitness in Sports</li>
            <li>Sports Psychology</li>
            <li>USTA 10 and Under</li>
            <li>USTA High Performance</li>
            <li>USPTA Professional</li>
            <li>USPTA Specialist in Competitive Player Development</li>
        </ul>
    </div>
    <div class="education">
        <h1 style="text-decoration: underline; text-align: center;">Education</h1>
        <ul>
            <li>Degree in Psychology</li>
            <li>Business Administration in West LA College</li>
            <li>Full Stack Software Developer in Coding Dojo</li>
            <li>Fluent in:</li>
                <ul>
                    <li>Spanish</li>
                    <li>English</li>
                    <li>French</li>
                    <li>Portuguese</li>
                </ul>
        </ul>
    </div>
    <div class="work">
        <h1 style="text-decoration: underline; text-align: center;">Work History</h1>
        <ul>
            <li>Jorge Vergara Tennis Academy</li>
            <li>Club Monteverde</li>
            <li>Club Atlas Chapalita</li>
            <li>Aj Tennis Academy</li>
            <li>San Javier Club Privado</li>
            <li>Traveling coach for Julia Elbaba</li>
            <li>Griffin Club LA</li>
            <li>Braemar Country Club</li>
        </ul>
    </div>
</body>
</html>